services:
  pinguin:
    build: ./victim1/webapp-readonly-sqli
    container_name: ctf_victim1_web
    networks:
      ctf_internal:
        ipv4_address: 172.28.0.10   # static IP on internal net
    expose:
      - "8000"

  attacker:
    build: ./attacker
    container_name: ctf_attacker
    ports:
      - "2222:22"
    networks:
      public_net:                   # dynamic IP on public_net is fine
      ctf_internal:
        ipv4_address: 172.28.0.20   # static IP on internal net
    cap_add:
      - NET_RAW

  elf:
    build: ./victim2
    container_name: ctf_victim2
    networks:
      ctf_internal:
        ipv4_address: 172.28.0.30   # static IP on internal net
    # no ports published

networks:
  public_net:
    driver: bridge

  ctf_internal:
    driver: bridge
    internal: true
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/24     # choose a subnet that doesn't overlap anything else
          gateway: 172.28.0.1