# docker-compose.yaml
services:
  pinguin:
    build: ./victim1/webapp-readonly-sqli
    container_name: ctf_victim1_web
    networks:
      - ctf_internal   # internal-only network
    expose:
      - "8000"         # not published on host, only available on internal network
  attacker:
    build: ./attacker
    container_name: ctf_attacker
    ports:
      - "2222:22"               # host -> attacker
    networks:
      - public_net              # attacker is on public_net (can be reached from host via published port)
      - ctf_internal            # attacker is also on the internal CTF network
    cap_add:
      - NET_RAW                 # optional: for nmap raw-socket scans

  elf:
    build: ./victim2
    container_name: ctf_victim2
    networks:
      - ctf_internal            # victim2 only on internal network
    # no ports published

networks:
  public_net:                   # public-facing (default bridge)
    driver: bridge

  ctf_internal:                 # private/internal network for victims + attacker
    driver: bridge
    internal: true              # mark as internal/isolated